.auth-card-wrapper {
    padding-top: 5em;
    background-color: #F6F6F7;
    //height: 100%;
}

.auth-layout-card {
    // min-height: 600px;
    padding: 69px 10px 70px;
    border: none;
    border-radius: 10px;
}

.wrapper {
    height: 100vh;
}


// .login-signup-text {
//     a {
//         font-weight: 600;
//         font-size: 18px;
//         padding-bottom: 7px;
//         color: #CBD3DD;
//         &:not(:last-child) {
//             padding-right: 40px;
//         }
//     }
//     .active {
//         color: #63C7DB;
//         border-bottom: 3px solid;
//     }
// }

