.want-a {
  color: #0f5ca9;
  margin-left: 10%;
  font-size: 1.7em;
  letter-spacing: 0.1em;
}
.check {
  color: #0f5ca9;
  font-weight: 600;
  font-size: 2.3em;
  margin-left: 10%;
  margin-top: 1.5%;
}
.lumiere {
  margin-left: 10%;
  margin-top: 3%;
  font-size: 1.2em;
  padding-bottom: 5%;
  letter-spacing: 0.09em;
  line-height: 1.4em;
  color: #6f6f46;
}
.lumiere span {
  color: #0f5ca9;
  font-weight: 700;
  display: inline-block;
}
.top-up-pack {
  background-color: #f1f3f6;
  border-radius: 20px;
}
.top-text {
  color: #464646;
  margin-left: 3%;
  font-size: 1.3em;
}
.chevron-icon {
  font-size: 1.3em;
  margin-right: 1.5%;
  text-align: right;
  cursor: pointer;
  a {
    color: #63c7db7a !important;
  }
}
.chevron-icon a {
  color: #c0c4c8;

  text-decoration: none;
}
.under-line {
  margin: 0.5% 5% 0 3%;
  background-color: #c0c4c8;
  height: 3px;
  position: relative;
}
.line-1 {
  position: absolute;
  left: 0px;
  height: 3px;
  background-color: #0f5ca9;
  width: 14%;
}
@media (max-width: 415px) {
  .line-1 {
    width: 45%;
  }
}
.under-line h6 {
  text-indent: -999px;
}
.top-amount {
  margin-top: 3%;
  margin-left: 3%;
}
.top-white {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 40%;
  max-width: 100%;
}

.top-white h6 {
  color: #2269b0;
  font-size: 1em;
  padding-top: 11%;
  padding-left: 5%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 13%;
}
.top-white h5 {
  color: #0f5ca9;
  font-weight: 800;
  font-size: 1em;
  padding: 1% 0 0 5%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 7%;
}
.top-gray {
  padding: 3%;
  background-color: #e4e6ea;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 5%;
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 100%;

}
.blue-border {
  position: absolute;
  left: 10px;
  height: 30%;
  background-color: blue;
  border-radius: 7px;
  color: blue;
  margin-top: 4px;
}
.top-gray h6 {
  font-size: 0.8em;
  padding-top: 2%;
  padding-left: 5%;
}
.top-gray button {
  width: 5.5rem;
  white-space: nowrap;
  background-color: #0f5ca9;
  border-radius: 20px;
  border: 0px;
  color: #fff;
  font-size: 0.7em;
  margin-top: 7%;
  margin-bottom: 3%;
}
.alignbtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
}

.info {
  background-color: #f1f3f6;
  padding: 5%;
}

.top_img {
  height: 100%;
  width: 100%;
  border-radius: 2%;
}
.doct_Text {
  font-size: 18px;
  color: #464652;
}
.doct_Text span {
  color: #0f5ca9;
  font-weight: 800;
  letter-spacing: 1px;
}
.yt_text {
  font-size: 18px;
  margin-bottom: 5%;
  letter-spacing: 0.5px;
  color: #4d4d58;
}

.ytVideo {
  height: 100%;
  width: 100%;
}

.yt_text span {
  color: #0f5ca9;
}

.txtBold {
  font-weight: 700;
}
.txtBold1 {
  font-weight: 700;
}

col-item {
  position: relative;
  padding: 0 6px;
}

@media (min-width: 835px) {
  .hey {
    width: 500px;
  }
}

// carousel

.slick-slider {
  width: 88%;
  margin: auto;
}

body .slick-prev,
body .slick-next {
  height: 45px;
  width: 40px;

  z-index: 100;
}

::ng-deep .slick-next:before {
  color: #1b4791 !important;
}

::ng-deep .slick-prev:before {
  color: #1b4791 !important;
}

.payment-wrapper {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #63C7DB;
  box-shadow: 0px 0px 5px 2px  #63C7DB;
  //background: linear-gradient(to right, rgb(16, 141, 199), rgb(239, 142, 56));
}

.mat-menu-panel{
  height:120px;
  min-height: 120px;
}

@media (min-width:959px) and (max-width:1013){
  .mat-menu-panel{
    min-height: 120px;
    height: 120px;
  }
}
