<ngx-loading [show]="loading" ></ngx-loading>
<button type="button" class="close pull-right" (click)="dialog.closeAll()">
    <span class="closeSpan" aria-hidden="true">&times;</span>
  </button>
<div class="forgot-dialog-wrapper">
    <!-- forgot password inage -->
    <div class="forgot-password-image">
        <img src="assets/images/forgot-password-image.svg" alt="forgot password image" />
    </div>
    <div class="heading-wrapper">
        <h3>
            Forgot Password
        </h3>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <input type="email" formControlName="userId" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }">
            <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                <div *ngIf="f.userId.errors.required">Email is required</div>
                <div *ngIf="f.userId.errors.pattern">Please enter valid email (xyz@abc.com)</div>

            </div>
        </div>
        <div class="text-center button-wrapper">
            <button type="submit" class="custom-button">Submit</button>
        </div>
    </form>
</div>