::ng-deep .mat-dialog-container {
    padding: 0 !important;
    border-radius: 8px !important;
    position: relative;
    .forgot-password-image {
        position: absolute;
        left: -10%;
        top: -18%;
    }
    .forgot-dialog-wrapper {
        max-width: 70%;
        margin: 0 auto;
        padding: 80px 60px 80px;
        .heading-wrapper {
            padding-bottom: 30px;
            h3 {
                font-size: 24px;
            }
        }
        button.custom-button {
            width: 100% !important;
            min-width: auto !important;
        }
    }
}
button.close{
    padding: 1px 7px 2px !important;  
}

@media (max-width:540px) {
    .forgot-dialog-wrapper {
        max-width: 100%;
        margin: 0 auto;
        padding: 60px 25px 60px;
    }
}
@media (max-width:320px){
    .forgot-dialog-wrapper{
        max-width: 100%;
        margin: 0 auto;
        padding: 25px 10px 25px;
    }
}
