<app-header></app-header>

<br />
<div class="row container checkout" *ngIf="checkoutDsiplay">
  <!-- <section class="col-md-1">

  </section> -->

  <div class="container col-md-4 order-sm-12 summary-container">
    <!-- <section class="col-md-4"> -->
    <div class="card" style="position: -webkit-sticky; position: sticky; margin-top: 14px">
      <div class="card-body">
        <strong>ORDER SUMMARY</strong>

        <div class="row">
          <br />
          <table class="table table-borderless table-responsive table-wrapper-scroll-y
              col-md-12">
            <thead>
              <tr style="background-color: #def3f8">
                <th scope="col" class="product-section">Product</th>
                <!-- <th scope="col">Quantity</th> -->
                <th scope="col" class="price-section">Price</th>
                <!-- <th scope="col">Total</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of checkoutService.orderProductByCustomer">
                <td>
                  {{ item.product.productName }}<br />{{ item.quantity + " x " + item.product.MRP }}
                </td>
                <!-- <td>{{item.quantity}}</td> -->
                <!-- <td>{{item.product.MRP}}</td> -->
                <td>{{ item.total | number: "1.2-2" }}</td>
              </tr>
            </tbody>
          </table>
          <div class="card total-section" style="width: 100%">
            <div class="card-body">
              <div class="row">
                <table style="width: 100%">
                  <tr>
                    <th>Discount</th>
                    <td>
                      {{
                      checkoutService?.promoDiscount
                      ? checkoutService?.promoDiscount
                      : 0
                      }}
                    </td>
                  </tr>

                  <tr *ngIf="checkoutService.deliveryDisplay">
                    <th>Delivery Charge</th>
                    <td>{{ checkoutService?.delieveryPrice }}</td>
                  </tr>

                  <tr>
                    <th>
                      {{ checkoutService?.taxData?.taxCode | uppercase }} &nbsp;
                      ({{ checkoutService?.taxData?.taxRate }} %)
                    </th>
                    <!-- <td>{{checkoutService.taxData.taxRate}}</td> -->

                    <td>{{ checkoutService?.TAXAMOUNT }}</td>
                  </tr>

                  <tr>
                    <th>Total Amount</th>
                    <td>{{ checkoutService?.orderTotal | number: "1.2-2" }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- <button type="button" class="btn btn-primary btn-lg btn-block" (click)="placeOrder()"
            style="background-color: #63C7DB;">Place Order</button> -->

          <!-- <button type="button" class="btn btn-primary btn-lg btn-block" (click)="checkRoute()"
              style="background-color: #63C7DB;"
              >check route</button> -->
          <!-- <button (click)="placeOrder()">Proceed to Payment</button> -->
        </div>
      </div>
    </div>
    <!-- </section> -->
  </div>
  <section class="col-md-7 order-sm-1">
    <div>
      <app-mobile-updates></app-mobile-updates>
      <br />
    </div>
    <div>
      <app-common-address></app-common-address>
    </div>
    <br />

    <div>
      <app-delivery-address></app-delivery-address>
    </div>
    <br />
    <div>
      <app-payment-method></app-payment-method>
    </div>
    <br />
    <div *ngIf="!checkoutService.userVerifiedDisplay">
      <app-card-details [paypalDetail]="payPalConfig"></app-card-details>
    </div>
    <br />
  </section>
</div>

<!-- <ngx-braintree
  [clientTokenURL]="'api/braintree/getclienttoken'"
  [createPurchaseURL]="'api/braintree/createpurchase'"
  [chargeAmount]="55.55"
  (paymentStatus)="onPaymentStatus($event)">
</ngx-braintree> -->

<app-footer></app-footer>