<ngx-loading [show]="loading"></ngx-loading>
<div class="reset-wrapper">
    <div class="heading-wrapper">
        <h3>
            Reset Password
        </h3>
    </div>
    <!-- login wrapper -->
    <div class="reset-form-wrapper">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div>
                <input type="password" formControlName="password" placeholder="Password" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmittedResetForm && resetControls.password.errors }">
                <div *ngIf="isSubmittedResetForm && resetControls.password.errors" class="invalid-feedback">
                    <div *ngIf="resetControls.password.errors.required">Password is required</div>
                    <div *ngIf="resetControls.password.errors.pattern">Please choose a password that contains a minimum of 8 characters, must have 1 letter and 1 number.</div>
                </div>
            </div>
            <div class="padding-top-20">
                <input type="password" formControlName="rePassword" placeholder="Repeat Password" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmittedResetForm && resetControls.rePassword.errors }">
                <div *ngIf="isSubmittedResetForm && resetControls.rePassword.errors" class="invalid-feedback">
                    <div *ngIf="resetControls.rePassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="resetControls.rePassword.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
            <div class="text-center button-wrapper">
                <button type="submit" class="custom-button">Save</button>
            </div>
        </form>
    </div>
</div>
