<app-post-login-header></app-post-login-header>
<div class="container">
    <div class="row padding-top-40 alignMent">
        <div class="searchInputdiv"><input type=" text" [(ngModel)]="searchByInput" (input)="filterByOrderId('&orderNo=')"
                placeholder="Search by Order No." class="form-control searchInp">
        </div>
        <div>
            <span></span>
        </div>
        <div class="ordertype-select">
            <select name="productStatus" id="productStatus" class="form-control border-primary"
                (ngModelChange)="orderStatusSelectByUser($event)" [(ngModel)]="searchByOrder">
                <option [ngValue]="undefined" hidden>Order Type</option>
                <option [value]="item.name" *ngFor="let item of orderStatus">{{item.name}}</option>
            </select>
        </div>
        <!-- <div class="searchButton"><button type="button" class="btn btnSearch">Search</button></div> -->
        <!-- <div class="dropdown orderTypeDropdown" style="margin-left: 10px;">
            <button class="btn orderType" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order Type<span class="downArrow"><i class="fa fa-chevron-down"></i></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <option  *ngFor="let item of orderStatus"
              [(ngModel)] ="statusSelectByUser"
              (click)="orderStatusSelect(item)" >{{item.productStatus}}</option> -->
        <!-- <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a> -->
        <!-- </div>
        </div> -->
        <div class="dropdown lastDaysDropdown" style="margin-left: 10px;">
            <!-- <button class="btn orderType" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Last 30 Days<span class="downArrow"><i class="fa fa-chevron-down"></i></span>
            </button> -->
            <button class="btn orderType" type="button" (click)="clearFilter()"> Clear Filter </button>
            <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
        </div>


    </div>

<br>

<div class="row col-sm-12 padding-top-20 mr-0" *ngFor="let item of customerOrderData">
  <div class="col-sm-12 box ">
      <div class="row orderHeader1">
            <p style="margin-left: 20px;">ORDER NO : &nbsp;<span>{{item.orderNo}}</span> </p>
            <p style="margin-left: 20px;">ORDER PLACED : &nbsp;<span>{{item.orderDate | date: 'dd/MM/yyyy'}}</span> </p>
            <p style="margin-left: 20px;">TOTAL : &nbsp;<span *ngIf="item.orderTransactions[0]">{{service.curr}} {{
                item.orderTransactions[0].totalAmountWithTax}}</span> </p>
            <p style="margin-left: 20px;">ORDER STATUS : &nbsp;{{item.orderStatus}}</p>
        
          <!-- <div style="padding-right: 21px;"><button type="button" class="btn btnSearch">Pay Now</button></div> -->
          <div class="dropdown ml-auto">
              <button class="btn orderType btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action<span class="downArrow"><i class="fa fa-chevron-down"></i></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="javascript:;" (click)="fetchOrderDetail(item.orderId)">View Detail</a>
                  <!-- <a class="dropdown-item" href="javascript:;" (click)="cancelOrder(item)">Cancel Order</a> -->
                  <a class="dropdown-item" href="javascript:;" (click)="downloadInvoice(item.orderId)">Download Invoice</a>
                  <!-- <a class="dropdown-item" href="#">Repeat Order</a> -->
              </div>
          </div>
      </div>
      <div class="col-md-12 orderList">
          <div class="row d-flex align-items-center listing"  *ngIf="item.orderProducts[0]; else noProduct" >
              <div class="col-md-2 orderImg">
                  <img style="max-height: 68px;" [src]="item.orderProducts[0].product.productImage[0]?.image"  onError="this.src = 'https://lumier32.s3.ap-southeast-1.amazonaws.com/product/1602470264516_noimage_336_290.jpg'" alt="{{item.orderProducts[0].productName}} ">
              </div>
              <div class="col-md-10 orderImg">
                  <p class="font-size-16 font-weight-500" *ngIf="item.orderProducts[0]">{{item.orderProducts[0].productName}}</p>
                  <!-- <p class="font-size-14">
                      <span class="text-grey">Life steriware dental</span>
                  </p> -->
              </div>
          </div>
          <ng-template #noProduct>All products in this order has been marked as Cancelled or Out of Stock.</ng-template>

          <div class="col-sm-12 itemsBtn">
              <button mat-stroked-button class="text-blue brder" (click)="fetchOrderDetail(item.orderId)">View Details</button>
          </div>
      </div>
  </div>

</div>
<div class="mt-5" style="text-align: center;padding-bottom: 30px;">
  <button mat-stroked-button class="text-blue brder" *ngIf="loadDisplay" (click)="loadMore()">{{message}}</button>
</div>






<!-- =========================================sahil code
<div class="container">
    <div class="card order-card" *ngFor="let item of customerOrderData">
        <div class="row orderHeader d-flex">
            <p style="padding-right: 30px;">ORDER NO:<span>{{item.orderNo}}</span> </p>
            <p style="padding-right: 30px;">ORDER PLACED:<span>{{item.orderDate | date: 'dd/MM/yyyy'}}</span> </p>
            <p style="padding-right: 30px;" >TOTAL:<span *ngIf="item.orderTransactions[0]">{{service.curr}} {{
                    item.orderTransactions[0].totalAmountWithTax}}</span> </p>
            <p style="padding-right: 30px;"><span class="dotYellow"></span>Order Status : {{item.orderStatus}}</p>
            <div style="padding-right: 21px;"><button type="button" class="btn btnSearch">Pay Now</button></div>
            <div class="dropdown">
                <button class="btn orderType btnSearch" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Action<span class="downArrow"><i class="fa fa-chevron-down"></i></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">View Detail</a>
                    <a style="cursor: pointer;" (click)="cancelOrder(item)">Cancel Order</a>
                    <a class="dropdown-item" href="#">Repeat Order</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row d-flex align-items-center listing">
                <div class="col-md-2 orderImg">
                    <img src="{{item.orderProducts[0].product.productImage[0].image}}"
                    style="width: 100px;height: 100px;"
                    alt="dashboard product image">
                    <p>{{item.orderProducts[0].product.productImage[0].image | json}}</p>
                </div>
                <div class="col-md-10 orderImg">
                    <p class="font-size-14 font-weight-500" *ngIf="item.orderProducts[0]">{{item.orderProducts[0].productName}}</p>
                    <p class="font-size-14 font-weight-500"><span *ngIf="item.orderProducts[0]">{{item.orderProducts[0].sellerName}}</span></p>
                </div>

            </div>
            <div class="col-sm-12 itemsBtn">
                <button mat-stroked-button (click)="fetchOrderDetail(item.orderId)" class="text-blue brder">View Complete Order </button>
            </div>
        </div>

    </div>
    <div style="text-align: center;padding-bottom: 30px;">
        <button mat-stroked-button class="text-blue brder" *ngIf="loadDisplay" (click)="loadMore()">{{message}}</button>
    </div>
    <div style="text-align: center;">
        <button type="button" (click)="loadMore()" class="btn"> Load More
        </button>

    </div>

</div> -->
</div>
<br>
<app-footer></app-footer>
