<app-header></app-header>
<ngx-loading [show]="loading"></ngx-loading>
<div class="banner-image">
  <img
    class="discount-image"
    src="assets\images\medical-product/equipment-banner.png"
    alt="Banner image"
  />
</div>

<section class="get-equipment filter-section filter-product-container">
  <div class="container">
    <div class="row">
      <ng-template let-categories [ngIf]="categoryies$ | async">
        <div
          *ngIf="categories && categories.length"
          class="col-md-3 equipment filter"
          [class.showFilter]="showFilter"
        >
          <div class="equipment-inner">
            <div class="text-right close-filter">
              <span (click)="showFilter = false"
                ><i
                  class="fa fa-times"
                  aria-hidden="true"
                  style="font-size: 20px; margin-top: 5px; margin-right: 5px"
                ></i
              ></span>
            </div>
            <div class="row filter-header-row">
              <div class="col-md-5 filter-title">FILTER</div>
              <button class="col-md-6 btn-clear" (click)="clearFilter()">
                Clear All
              </button>
            </div>
            <ng-template let-categoryFilters [ngIf]="categoryFilters$ | async">
              <div *ngFor="let item of categoryFilters?.filter; let i = index">
                <div
                  class="FilterDirectory-titleBar main-search"
                  *ngIf="item.showSearch"
                >
                  <input
                    type="text"
                    id="searchInput"
                    (input)="searchCategory()"
                    placeholder="{{ 'Search ' + item.title }}"
                    class="FilterDirectory-searchInput"
                  />
                  <span class="close-search" (click)="item.showSearch = false"
                    ><i class="fa fa-times" aria-hidden="true"></i
                  ></span>
                </div>
                <div class="card product-list-header" style="border: none">
                  <span class="open-search" (click)="item.showSearch = true">
                    <i class="fa fa-search"></i>
                  </span>
                  <mat-accordion class="filter-product-expansion">
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header
                        style="background-color: #fff"
                      >
                        <h5
                          class="float-left"
                          style="
                            padding-bottom: 12px;
                            padding-top: 12px;
                            font-size: 19px;
                          "
                        >
                          {{ item.title }}
                        </h5>
                      </mat-expansion-panel-header>
                      <span class="clearfix"></span>
                      <ul id="searchUL">
                        <div *ngFor="let items of item.value; let i = index">
                          <li *ngIf="items.active">
                            <a class="search-title">{{ items.title }}</a>
                            <!-- <div class="expension-content" *ngFor='let items of item.value;let i = index'> -->
                            <div
                              class="card-body"
                              style="padding: 1px; padding-left: 2px"
                            >
                              <div class="form-group">
                                <div class="row">
                                  <div
                                    class="col-md-10 filter-col"
                                    style="padding: 0"
                                  >
                                    <label class="radio-inline">
                                      <p-checkbox
                                        [disabled]="!items.active"
                                        name="item.title"
                                        value="{{ items?.uuid }}"
                                        label="{{ items?.title }}"
                                        [(ngModel)]="selectedValues"
                                        (onChange)="
                                          checkBoxEvent($event, items, item)
                                        "
                                      >
                                      </p-checkbox>
                                    </label>
                                  </div>
                                  <div class="product-count">
                                    <p>
                                      ({{
                                        items.productCount
                                          ? items.productCount
                                          : ""
                                      }})
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <!-- <h5 class="card-title">{{items.title}}</h5> -->
                            </div>
                          </li>
                        </div>
                      </ul>
                      <div
                        class="more-btn"
                        *ngIf="getActiveFilterCount(item.value) > 5"
                        (click)="openMore(i)"
                      >
                        {{ getActiveFilterCount(item.value) - 5 }} MORE
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>

                  <div
                    class="FilterDirectory-panel FilterDirectory-expanded"
                    *ngIf="
                      showPopup && item.value.length > 5 && popupIndex == i
                    "
                  >
                    <div class="FilterDirectory-titleBar">
                      <input
                        type="text"
                        id="searchPopupInput"
                        (input)="searchPopupCategory()"
                        placeholder="{{ 'Search ' + item.title }}"
                        class="FilterDirectory-searchInput"
                      />
                    </div>
                    <div class="text-right close-FilterDirectory">
                      <span (click)="showPopup = false"
                        ><i class="fa fa-times" aria-hidden="true"></i
                      ></span>
                    </div>

                    <span class="clearfix"></span>

                    <ul id="searchPopupList" class="FilterDirectory-list">
                      <div *ngFor="let items of item.value; let i = index">
                        <li *ngIf="items.active">
                          <a class="search-title">{{ items.title }}</a>
                          <div
                            class="card-body"
                            style="padding: 1px; padding-left: 2px"
                          >
                            <div class="form-group">
                              <div class="row">
                                <div class="col-md-9 filter-col">
                                  <label class="radio-inline popup-lable">
                                    <p-checkbox
                                      id="lable"
                                      [disabled]="!items.active"
                                      name="item.title"
                                      value="{{ items?.uuid }}"
                                      label="{{ items.title }}"
                                      [(ngModel)]="selectedValues"
                                      (onChange)="
                                        checkBoxEvent($event, items, item)
                                      "
                                    >
                                    </p-checkbox>
                                  </label>
                                  <span>
                                    ({{
                                      items.productCount
                                        ? items.productCount
                                        : ""
                                    }})
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-template>

      <ng-template let-categories [ngIf]="categoryies$ | async">
        <div
          class="col-md-9 get-equipment container product-container"
          style="padding-top: 10px"
          [ngClass]="{
            fullWidth: categories && categories.length === 0
          }"
        >
          <!--tOTAL RECORD AND SORT BY FILTER START-->

          <ng-template [ngIf]="categories && categories.length">
            <div class="row header-section">
              <span style="cursor: pointer" (click)="homeNavigate()"
                >Home&nbsp;></span
              >&nbsp;
              <span
                class="list-title"
                style="cursor: pointer"
                (click)="parentCategoryNavigates(breadCrumbData)"
              >
                {{ breadCrumbData?.parentCategoryName }}</span
              >
              <span class="list-title" *ngIf="breadCrumbData?.CategoryName">
                &nbsp;>&nbsp;{{ breadCrumbData?.CategoryName }}</span
              >
              <span
                *ngIf="
                  breadCrumb &&
                  !breadCrumbData?.parentCategoryName &&
                  !breadCrumbData?.CategoryName
                "
              >
                {{ this.rd }}
              </span>
            </div>
            <div class="row">
              <div class="col-md-7 product-container-heading">
                Showing <span>{{ pageNumber * 12 - 11 }}-</span>
                <span *ngIf="pageNumber * 12 < totalRecords">{{
                  pageNumber * 12
                }}</span>
                <span *ngIf="pageNumber * 12 > totalRecords">{{
                  totalRecords
                }}</span>
                of {{ totalRecords }} results for
                <span class="color"
                  >"{{
                    breadCrumbData?.parentCategoryName
                      ? breadCrumbData?.parentCategoryName
                      : rd
                  }}"</span
                >
              </div>
              <div class="text-right col-md-5">
                <div class="filter-sort">
                  <span>Sort by :</span>
                  <p-dropdown
                    [options]="dropDownOptions"
                    class="filter-checkbox"
                    [(ngModel)]="selectedSort"
                    (onChange)="sortingChange($event)"
                    placeholder="Select a filter"
                    [showClear]="false"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="fitler-icon text-right" (click)="showFilter = true">
              Filter :
              <i
                class="fa fa-filter"
                aria-hidden="true"
                style="color: #63c7db; font-size: 24px"
              ></i>
            </div>
          </ng-template>

          <!--tOTAL RECORD AND SORT BY FILTER END-->

          <ng-template [ngIf]="categories && categories?.length">
            <div class="row product-list">
              <div
                class="col-lg-3 col-sm-4 col-6"
                *ngFor="let item of categories"
              >
                <div
                  class="card product-detail product-outer"
                  style="cursor: pointer"
                  (click)="navigateRoutes(item.productName, item?.id)"
                >
                  <div
                    *ngIf="item?.ribbenText"
                    class="container"
                    [attr.data-ribbon]="item.ribbenText"
                    style="--d: 15px; --c: purple"
                  ></div>
                  <a
                    [routerLink]="[
                      '/' + countryISO.getCountryCode() + '/p/',
                      countryISO.convertToSlug(item.productName)
                    ]"
                    [queryParams]="{ pid: item?.id }"
                  >
                    <span class="dis-rib" *ngIf="item?.discount && item?.isSale"
                      >{{ item?.discount }}%</span
                    >
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                    <img
                      [src]="item?.productImage[0]?.image"
                      style="cursor: pointer"
                      onError="this.src = 'https://lumier32.s3.ap-southeast-1.amazonaws.com/product/1602470264516_noimage_336_290.jpg'"
                      alt="product image"
                    />
                    <div class="product-material">
                      <div>
                        <h3 [title]="item?.productName">
                          {{ item?.productName }}
                        </h3>
                      </div>
                      <div
                        class="product-price"
                        *ngIf="authService.loginFlag && !item?.isQuote"
                      >
                        <p class="discount-price" *ngIf="item?.discount != 0">
                          {{ service.curr }} {{ item?.MRP }}
                        </p>
                        <p class="discount-price" *ngIf="item?.discount == 0">
                          {{ service.curr }}
                          {{ item?.MRP }}
                        </p>
                        <p class="original-price">
                          <del *ngIf="item?.discount != 0 && item?.isSale"
                            >{{ service.curr }} {{ item?.sellPrice }}</del
                          >
                        </p>
                      </div>

                      <span
                        class="requestfq"
                        type="button"
                        *ngIf="authService.loginFlag && item?.isQuote"
                        (click)="showAskMoreDialog('sample')"
                        >Request for Quote
                      </span>
                    </div>
                  </a>
                  <!-- <div></div> -->
                  <div *ngIf="!authService.loginFlag" style="margin: 0 auto">
                    <button
                      class="btn btn-sm btn-primary"
                      (click)="goToLogin(item.productName, item?.id)"
                    >
                      View Price
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="showErrorPage">
            <div class="container">
              <div
                style="display: flex; justify-content: center; margin-top: 10%"
              >
                <img
                  class="errimg"
                  src="assets/images/404.jpg"
                  alt="none"
                />
              </div>
              <div style="font-size: 12px">
                <p class="text-center">
                  Your search
                  <span style="color: #63c7db"> "" </span> does not match any
                  products/brands.
                </p>
                <div>
                  <p class="textlike">Try somthing like</p>
                  <ol class="lists">
                    <li>Using more general terms</li>
                    <li>Checking your spelling</li>
                  </ol>
                  <p style="text-align: center">
                    Or kindly drop us a message on
                    <span class="contactE">connect@lumiere32.my </span> with
                    details
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-template>
      <div class="paginator paginator-product mb-5">
        <p-paginator
          [rows]="12"
          pageLinkSize="6"
          [alwaysShow]="false"
          [showCurrentPageReport]="true"
          [totalRecords]="totalRecords"
          #paginator
          (onPageChange)="onPageChange($event)"
        ></p-paginator>
      </div>
    </div>
  </div>
</section>
<br />
<app-footer></app-footer>

<ng-template [ngIf]="categoryFilters$ | async"></ng-template>
