<app-header></app-header>
<div class="wrapper">
<section class="thank-you-wrapper mb-5">
  <div class="container">
    <div class="card thank-layout-card">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-12 text-center p-2">
            <i class="fas fa-wrench" style="color: black;font-size: 100px;"></i>
            <h1 class="display-3">Coming Soon...</h1>
            <p class="lead"><strong>This page is under construction.</strong>  </p>
          </div>

        </div>
      </div>
  </div>


</section>
</div>
<app-footer></app-footer>
