<app-post-login-header></app-post-login-header>

<section class="wishlist-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card wishlist-card-wrapper">
                    <div>
                        <div class="wishlist-heading-text">
                            <h5>Wish List (0)</h5>
                        </div>
                        <div>
                            <!-- <div ngbDropdownMenu class="dropdown-list-wrapper animated fadeIn">
                                <ul class="dropdown-list-block">
                                    <li ngbDropdownItem class="nav-item-list">

                                        <a class="nav-list" routerLinkActive="dropdown-active">Profile</a>
                                    </li>
                                    <li ngbDropdownItem class="nav-item-list">
                                        <a class="nav-list">Logout</a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <div class="wishlist-flex-wrapper">
                      <div class="d-flex align-items-center wishlist-flex-heading bg-wishlist">
                        <h5>Coming Soon...</h5>
                      </div>

                    </div>
                    <!-- <div class="wishlist-flex-wrapper">
                        <div class="d-flex align-items-center wishlist-flex-heading bg-wishlist">
                            <div>

                            </div>
                            <div>
                                Product Name
                            </div>
                            <div class="price">
                                Price
                            </div>
                            <div>

                            </div>
                        </div>
                        <div class="wishlist-flex align-items-center wishlist-flex-heading">
                            <div class="wishlist-flex-inline align-items-center wishlist-flex-heading flex-basis-100">
                                <div>
                                    <img src="assets/images/wishlist-image-2.svg" alt="wishlist image block" />
                                </div>
                                <div>
                                    <p class="font-size-14">Medesy Plier Allis</p>
                                    <p class="font-size-14">3:4 Mm150 #1530/1</p>
                                    <p class="font-size-14 text-grey">By:Eastland Pvt Ltd</p>
                                </div>
                                <div>
                                    <p>{{service.curr}} 100.00</p>
                                </div>
                            </div>

                            <div class="wishlist-button-wrapper text-right">
                                <button type="button" class="custom-button">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                        <div class="wishlist-flex align-items-center wishlist-flex-heading">
                            <div class="wishlist-flex-inline align-items-center wishlist-flex-heading flex-basis-100">
                                <div>
                                    <img src="assets/images/wishlist-image-3.svg" alt="wishlist image block" />
                                </div>
                                <div>
                                    <p class="font-size-14">Medesy Plier Allis</p>
                                    <p class="font-size-14">3:4 Mm150 #1530/1</p>
                                    <p class="font-size-14 text-grey">By:Eastland Pvt Ltd</p>
                                </div>
                                <div>
                                    <p>{{service.curr}} 100.00</p>
                                </div>
                            </div>

                            <div class="wishlist-button-wrapper text-right">
                                <button type="button" class="custom-button">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                        <div class="wishlist-flex align-items-center wishlist-flex-heading">
                            <div class="wishlist-flex-inline align-items-center wishlist-flex-heading flex-basis-100">
                                <div>
                                    <img src="assets/images/wishlist-image-4.svg" alt="wishlist image block" />
                                </div>
                                <div>
                                    <p class="font-size-14">Medesy Plier Allis</p>
                                    <p class="font-size-14">3:4 Mm150 #1530/1</p>
                                    <p class="font-size-14 text-grey">By:Eastland Pvt Ltd</p>
                                </div>
                                <div>
                                    <p>{{service.curr}} 100.00</p>
                                </div>
                            </div>

                            <div class="wishlist-button-wrapper text-right">
                                <button type="button" class="custom-button">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                        <div class="wishlist-flex align-items-center wishlist-flex-heading">
                            <div class="wishlist-flex-inline align-items-center wishlist-flex-heading flex-basis-100">
                                <div>
                                    <img src="assets/images/wishlist-image-5.svg" alt="wishlist image block" />
                                </div>
                                <div>
                                    <p class="font-size-14">Medesy Plier Allis</p>
                                    <p class="font-size-14">3:4 Mm150 #1530/1</p>
                                    <p class="font-size-14 text-grey">By:Eastland Pvt Ltd</p>
                                </div>
                                <div>
                                    <p>{{service.curr}} 100.00</p>
                                </div>
                            </div>

                            <div class="wishlist-button-wrapper text-right">
                                <button type="button" class="custom-button">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<app-footer></app-footer>
