<div class="ppbox">
  <div class="container billing-container">
    <div class="section-title">{{service.editButtonDisplay}}
      <span>
        <i (click)="closePopup()" class="bi bi-x"></i>
      </span>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Name</label><span class="asterick">*</span>
        <input type="text" class="form-control" id="name" [(ngModel)]="service.newAddress.name"
          aria-describedby="nameHelp">
      </div>


      <div class="form-group col-md-6">
        <label for="clinicname">Clinic Name</label><span class="asterick">*</span>
        <input type="text" class="form-control" id="clinicname" [(ngModel)]="service.newAddress.clinicName"
          aria-describedby="clinicnameHelp">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="clinicname">Block No.</label>
        <input type="text" class="form-control" id="blockno" [(ngModel)]="service.newAddress.blockNo"
          aria-describedby="blocknoHelp">
      </div>

      <div class="form-group col-md-4">
        <label for="clinicname">Floor No.</label>
        <input type="text" class="form-control" id="floorno" [(ngModel)]="service.newAddress.floorNo"
          aria-describedby="floornoHelp">
      </div>

      <div class="form-group col-md-4">
        <label for="clinicname">Unit No.</label>
        <input type="text" class="form-control" id="unitno" [(ngModel)]="service.newAddress.unitNo"
          aria-describedby="unitnoHelp">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="clinicname">Building Name</label>
        <input type="text" class="form-control" id="buildingname" [(ngModel)]="service.newAddress.buildingName"
          aria-describedby="builidingnameHelp">
      </div>

      <div class="form-group col-md-6">
        <label for="clinicname">Street Name</label>
        <input type="text" class="form-control" id="streetname" [(ngModel)]="service.newAddress.streetName"
          aria-describedby="streetnameHelp">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="control-label">Select Country </label><span class="asterick">*</span>
        <br>
        <select type="text" placeholder="Enter Customer Name" [(ngModel)]="service.newAddress.country"
          name="countryname" class="form-control border">
          <option value="">Select Country</option>
          <option *ngFor="let item of service.countryModel" [value]="item.id">{{item.itemName}}</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="state">State</label><span class="asterick">*</span>
        <input type="text" class="form-control" id="state" [(ngModel)]="service.newAddress.state"
          aria-describedby="state">
      </div>

      <div class="form-group col-md-6">
        <label for="clinicname">Postal</label>
        <input type="text" class="form-control" id="postalname" minlength="6" maxlength="6"
          [(ngModel)]="service.newAddress.zip" aria-describedby="postalnameHelp">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="form-group" style="text-align: end;">
          <button type="button" class="btn btn-primary m-1" style="background-color: #63C7DB; width: 160px;"
            (click)="closePopup()">Close
            Now</button>
          <button type="button" class="btn btn-primary m-1" (click)="saveAddress()"
            style="width: 160px;">{{service.editButtonDisplay}}</button>
        </div>
      </div>
    </div>
  </div>
</div>