<div class="change-pass">


<button type="button" class="close pull-right" (click)="dialog.closeAll()">
    <span class="closeSpan" aria-hidden="true">&times;</span>
  </button>
<div class="change-dialog-wrapper">
    <!-- forgot password inage -->
    <div class="change-password-image">
        <img src="assets/images/forgot-password-image.svg" alt="forgot password image" />
    </div>
    <div class="heading-wrapper">
        <h3>
            Change Password
        </h3>
    </div>
    <form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()">
        <div class="col-xs-12 ">
            <label>Current Password</label>
            <input type="password" placeholder="Type Current Password" class="form-control"
            formControlName="currentPassword" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" >
            <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
            </div>
        </div>
        <div class="col-xs-12 padding-top-20">
            <label>New Password</label>
            <input type="password" placeholder="Type New Password" class="form-control"
            formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" >
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                <div *ngIf="f.newPassword.errors.minLength">Password must be atleast 8
                    characters</div>
                <div *ngIf="f.newPassword.errors.pattern">Please choose a password that contains minimum of 8 characters, must have 1 letter and 1 number.</div>
                <!-- <div *ngIf="f.newPassword.errors.maxLength">Password must be atmost 20
                    characters</div> -->
            </div>
        </div>
        <div class="col-xs-12 padding-top-20">
            <label>Re-Type New Password</label>
            <input type="password" placeholder="Re-Type New Password" class="form-control"
            formControlName="newRePassword" [ngClass]="{ 'is-invalid': submitted && f.newRePassword.errors }" >
            <div *ngIf="submitted && f.newRePassword.errors" class="invalid-feedback">
                <div *ngIf="f.newRePassword.errors.required">Re-Type New Password</div>
                <div *ngIf="f.newRePassword.errors.mustMatch">Passwords must match</div>

            </div>
        </div>
        <div class="text-center button-wrapper">
            <button type="submit" class="custom-button">Change Password</button>
        </div>
    </form>
</div>
</div>