::ng-deep .mat-dialog-container {
    padding: 0 !important;
    border-radius: 8px !important;
    position: relative;
    .change-password-image {
        position: absolute;
        left: -7%;
    top: -10%;
    }
    .change-dialog-wrapper {
        max-width: 100%;
        margin: 0 auto;
        padding: 50px 40px 50px;
        .heading-wrapper {
            padding-bottom: 30px;
            h3 {
                font-size: 24px;
            }
        }
        button.custom-button {
            width: 100% !important;
            min-width: auto !important;
        }
    }
    
}
@media screen and (max-width: 320px) {
    
}
button.close{
      padding: 1px 7px 2px !important;  
}
.change-pass{
    max-width: 90%;
}